# Compiler files
cache/
out/
build/

# Ignores development broadcast logs
!/broadcast

# Dotenv file
.env.*
.yarn-integrity

.idea
/node_modules
/eth-apps-frontend/node_modules/
/eth-apps-frontend/yarn.lock